<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/9d8e990f4b.js" crossorigin="anonymous"></script>
</head>

<body>
  {% block content %}
  {% endblock %}
</body>

</html>
{% load static %}
<link rel="stylesheet" href="{% static 'meltexapp/main.css' %}">
