<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'meltexapp/main.css' %}">
<link rel="stylesheet" href="{% static 'meltexapp/navbar.css' %}">
<div class="nav-elements nav-elements-top">
  <a href="/">
    <div>MELT-X</div>
  </a>
</div>
<div class="nav-elements-bottom">
  <div class="nav-elements nav-elements-left">

    <a href="/">
      <div>
        HOME
      </div>
    </a>
    <a href="/listings/all_listings">
      <div>
        LISTINGS
      </div>
    </a>
    <a href="/listings/my_listings">
      <div>
        MY LISTINGS
      </div>
    </a>
    <a href="/listings/add_listing">
      <div>
        ADD LISTINGS
      </div>
    </a>
  </div>
  <div class="nav-elements nav-elements-right">
    {% if user.is_authenticated %}
    <a href="#">
      <div id="navbarDropdown" class="dropdown">
        {{user.username|upper}}
        <div class="dropdown-content" aria-labelledby="navbarDropdown">
          <a class="dropdown-link" href="/listings/my_listings">My Listings</a>
          <a class="dropdown-link" href="/accounts/logout/">Sign out</a>
        </div>
      </div>
    </a>
    {% else %}
    <a href="/accounts/login/" class="nav-link">
      LOG IN
    </a>
    {% endif %}
  </div>
</div>
