{% extends "master.html" %}
{% block content %}
{% include "nav.html" %}
<form action="/your-name/" id="listingForm" , method="post" , data-subac-url="{% url 'load_sub_acs' %}" novalidate>
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Submit">
</form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $("#id_asset_class").change(function () {
    var url = $("#listingForm").attr("data-subac-url");  // get the url of the `load_cities` view
    var assetClassId = $(this).val();  // get the selected country ID from the HTML input

    $.ajax({                       // initialize an AJAX request
      url: url,
      data: {
        'asset_class_id': assetClassId       // add the country id to the GET parameters
      },                 // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#id_sub_asset_class").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });

  });
</script>
{% endblock %}
