{% extends "master.html" %}
{% block content %}
{% include "nav.html" %}
{% load static %}
</div>
<link rel="stylesheet" href="{% static 'meltexapp/popup.css' %}">
<div class="d-flex flex-column flex-shrink-0 p-3">
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-9">
        {% if listing_added %}
        <div class="alert alert-success" role="alert">
          "Listing Added successfully"
        </div>
        {% endif %}
        <div class="col-9">
          <div id="banner-placement"></div>
          {% if banners == "listing_updated" %}
          <div class="alert alert-success" role="alert">
            "Listing Updated successfully"
          </div>
          {% elif banners == "listing_deleted" %}
          <div class="alert alert-success" role="alert">
            "Listing Deleted successfully"
          </div>
          {% endif %}
          <div class="equal-spacing-container category-text pb-2 pt-2 border-top border-right">
            CSV BULK UPLOAD ACTIONS
          </div>
          <div class="equal-spacing-container pb-3 border-bottom mb-3">
            <a href="/listings/import/excel/template">
              <button type="button" class="btn btn-outline-secondary">Download Template</button>
            </a>
            <a href="#" id="popup-link">
              <button type="button" class="btn btn-outline-success">Upload Listings</button>
            </a>
          </div>
          <form action={{form_action_url}} id="listingForm" method="post" data-subac-url="{% url 'load_sub_acs' %}"
            data-load-geographies-url="{% url 'load_geographies'}">
            {% csrf_token %}
            {{ add_listing_form }}
            <button type="submit" class="btn btn-outline-primary"> Submit </button>
          </form>
          {% if delete_url %}
          <a href={{delete_url}}>
            <button type="delete" class="btn btn-outline-danger"> Delete </button>
          </a>
          {% endif %}
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </div>
  <!-- Excel upload pop-up window -->
  <div class="popup-window" id="upload-popup-window">
    <div class="close-button"><i class="fa-solid fa-xmark"></i></div>
    <form id="listings-upload-form" method="post" , enctype="multipart/form-data">
      {% csrf_token %}
      {{ upload_excel_form }}
      <div class="container d-flex align-items-center justify-content-center mt-3">
        <!-- loading spinner -->
        <div id="upload-loading-spinner" class="spinner-border" role="status" hidden>
          <span class="sr-only">Loading...</span>
        </div>
        <!--  -->
        <button type="submit" id="listings-upload-submit" class="btn btn-outline-primary"> Upload </button>
      </div>
    </form>
  </div>
</div>
<!--  -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'javascript/pop-up.js' %}"></script>
<script src="{% static 'javascript/listingUpload.js' %}"></script>

{% if asset_class_id %}
<script>
  function updateSubACOptions() {
    var url = $("#listingForm").attr("data-subac-url");
    var assetClassId = $(this).val();

    $.ajax({
      url: url,
      data: {
        'ac_id': assetClassId
      },
      success: function (data) {
        $("#id_sub_asset_class").html(data);
      }
    });
  }
</script>
<script>
  document.getElementById("id_asset_class").value = "{{asset_class_id}}"
  $(document).ready(function () {
    updateSubAssetClass();

    function updateSubAssetClass() {
      var url = $("#listingForm").attr("data-subac-url");
      var assetClassId = $("#id_asset_class").val();
      $.ajax({
        url: url,
        data: {
          'ac_id': assetClassId
        },
        success: function (data) {
          $("#id_sub_asset_class").html(data);
          document.getElementById("id_sub_asset_class").value = "{{sub_asset_class_id}}"
        }
      });
    }
  });
</script>
{% endif %}
<script>
  $("#id_asset_class").change(function () {
    var url = $("#listingForm").attr("data-subac-url");
    var assetClassId = $(this).val();

    $.ajax({
      url: url,
      data: {
        'ac_id': assetClassId
      },
      success: function (data) {
        $("#id_sub_asset_class").html(data);
      }
    });

  });
</script>
<script>

  $.ajax({
    url: url,
    success: function (data) {
      $("#id_geography").html(data);
    }
  });
</script>
{% endblock %}
