{% extends "master.html" %}
{% block content %}
{% include "nav.html" %}
{% if values %}
<div class="mw-100">
  <div class="pb-5">
    <a class="btn btn-outline-dark float-end pr-5" data-bs-toggle="collapse" href="#collapseExample" role="button"
      aria-expanded="false" aria-controls="collapseExample">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter"
        viewBox="0 0 16 16">
        <path
          d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
      </svg>
    </a>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <form action="" class="mb-2 ms-3 form-check form-check-inline" method="get" onsubmit="setFormStore()">
        <label for="ac_id" class="category-text mb-2">ASSET CLASS</label>
        <div style="max-width: 300px">
          <select class="form-select" id="ac_id" name="ac_id">
            <option selected value="all">All</option>
            {% for ac in ac_options %}
            <option value="{{ac.id}}">{{ac.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-4"></div>
        <hr class="dropdown-divider">
        <div class="mb-3"></div>
        <element class="category-text">
          COLUMNS <div class="mb-3"></div>
        </element>
        {% for col_key, col_label in available_cols %}
        <div class="form-check form-check-inline">
          <input class="form-check-input mr-2" type="checkbox" id="{{col_key}}" name="columns" value="{{col_key}}">
          <label class="form-check-label" for="{{col_key}}">{{col_label}}</label><br>
        </div>
        {% endfor %}
        <br>
        <div class="mb-4"></div>
        <button type="submit" class="btn btn-primary">Filter</button>
      </form>
    </div>
  </div>
  <div class="w-100">
    <table table class="table table-striped">
      <colgroup>
        {% for header in headers %}
        <col>
        {% endfor %}
      </colgroup>
      <tr>
        {% if page == "my_listings" %}
        <th></th>
        {% endif %}
        {% for header in headers %}
        <th>{{header}}</th>
        {% endfor %}
      </tr>
      {% for id, values in values %}
      <tr>
        {% if page == "my_listings" %}
        <td>
          <a href="/listings/{{id}}">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
          </a>
        </td>
        {% endif %}
        {%for value in values%}
        <td>{{value}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
  {% else %}
  <p>No values are available.</p>
  {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
  function check(form_id) {
    document.getElementById(form_id).checked = true;
  }
  if ("{{columns}}") {
    console.log({{ columns| safe}})
  for (col of {{ columns | safe }}) {
    check(col);
  }
  }
</script>
<script>
  function setFormStore() {
    localStorage.setItem("selected_ac", document.getElementById('ac_id').value);
  };
  $(document).ready(function () {
    if ($('#ac_id').length) {
      $('#ac_id').val(localStorage.getItem("selected_ac"));
    }
    else { $('#ac_id').val("all") }
  });
  window.onload = clearStorage
  function clearStorage() {
    if (!("{{params_present}}" === "true")) {
      localStorage.clear()
    }
  }
</script>
{% endblock %}
