{% extends "master.html" %}
{% block content %}
{% include "nav.html" %}
{% if values %}

<form action="/listings" method="get" onsubmit="setFormStore()">
  <label for="ac_id">Asset Class: </label>
  <select id="ac_id" name="ac_id">
    {% for ac in ac_options %}
    <option value="{{ac.id}}">{{ac.name}}</option>
    {% endfor %}
    <option value="all">All</option>
  </select>
  <input type="submit" value="OK">
</form>
<ul>
  <table table class="table table-striped">
    <colgroup>
      {% for header in headers %}
      <col>
      {% endfor %}
    </colgroup>
    <tr>
      {% for header in headers %}
      <th>{{header}}</th>
      {% endfor %}
    </tr>
    {% for row in values %}
    <tr>
      {%for value in row%}
      <td>{{value}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No values are available.</p>
  {% endif %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    function setFormStore() {
      console.log(document.getElementById('ac_id')),
        localStorage.setItem("selected_ac", document.getElementById('ac_id').value);
    };
  </script>
  <script>
    $(document).ready(function () {
      if ($('#ac_id').length) {
        $('#ac_id').val(localStorage.getItem("selected_ac"));
      }
    });
  </script>
  {% endblock %}
