<colgroup>
  {% for header in headers %}
  <col>
  {% endfor %}
</colgroup>
{% load static %}
<tr>
  {% for header in headers %}
  {% if header.key in sortable_headers %}
  <th id="{{header.key}}" class="sortable_column listing-column">{{header.label}}</th>
  {% else %}
  <th class="listing-column">{{header.label}}</th>
  {% endif %}
  {% endfor %}
</tr>
{% if values %}
{% for id, row_values in values %}
<tr>
  {% for value in row_values %}
  <td class="listing_value">
    {% if forloop.counter == 1 %}
    <i class="fa-solid fa-circle-info info-button popup-link" font-size="10" id="{{id}}"></i>
    {% endif %}
    {{value}}
  </td>
  {% endfor %}
</tr>
{% endfor %}
{% endif %}
<script src="{% static 'javascript/view-listing.js' %}"></script>
