{% extends "master.html" %}
{% block content %}
{% include "nav.html" %}
{% load static %}
<div class="mw-100">
  <div class="pb-5">
    <a class="btn btn-outline-dark float-end pr-5" data-bs-toggle="collapse" href="#collapseExample" role="button"
      aria-expanded="false" aria-controls="collapseExample">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter"
        viewBox="0 0 16 16">
        <path
          d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
      </svg>
    </a>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <form action="" class="mb-2 ms-3 form-check form-check-inline" method="get" onsubmit="setFormStore()">
        {% for tb_settings in tickbox %}
        <label for="{{tb_settings.param}}" class="category-text mb-2">{{tb_settings.title}}</label></br>
        {% for option in tb_settings.options %}
        <div class="form-check form-check-inline">
          <input class="form-check-input mr-2" type="checkbox" id="{{option.id}}" name="{{tb_settings.param}}"
            value="{{option.id}}">
          <label class="form-check-label" for="{{option.id}}">{{option.name}}</label><br>
        </div>
        {% endfor %}
        <div class="mb-4"></div>
        <div class="mb-3"></div>
        <hr class="dropdown-divider">
        {% endfor %}
        <button type="submit" class="btn btn-primary">Filter</button>
      </form>
    </div>
  </div>
  <div class="w-100">
    <table table class="table table-striped" id="listings-table">
      {% include 'listings/listings_table.html' %}
      <script src="{% static 'listings/check_filters.js' %}"></script>
      <script>
        selected_form_ids = JSON.parse('{{selected_filters|safe}}')
        params = JSON.parse('{{json_params|safe}}')
        listingsType = "{{page}}"
        check_all_lists(selected_form_ids);
      </script>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="{% static 'listings/sort_columns.js' %}"></script>
      <script>
        function setFormStore() {
          localStorage.setItem("selected_ac", document.getElementById('ac_id').value);
        };
        $(document).ready(function () {
          if ($('#ac_id').length) {
            $('#ac_id').val(localStorage.getItem("selected_ac"));
          }
          else { $('#ac_id').val("all") }
        });
        window.onload = clearStorage
        function clearStorage() {
          if (!("{{params_present}}" === "true")) {
            localStorage.clear()
          }
        }
      </script>
      {% endblock %}
    </table>
  </div>
</div>
