{% extends "master.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'meltexapp/main.css' %}">
<link rel="stylesheet" href="{% static 'meltexapp/show-listing.css' %}">
{{listing_id }}
<div class="show-listing-type-bubbles">
  <div class="asset-class-bubble">{{ listing_data.asset_class_name }}</div>
  <div class="sub-asset-class-bubble">{{ listing_data.sub_asset_class_name }}</div>
</div>
<div class="top-centre-box">
  <div class="top-centre-box-title">
    EoID
  </div>
  <div class="top-centre-box-info">
    {{ listing_data.expr_int_ddline }}
  </div>
</div>
<div class="main-listing-info-container">
  <div class="main-listing-info country-flag"><img src="{% static 'images/uk flag icon.png' %}" alt="UK Flag">
  </div>
  <div class="dashed-line"></div>
  <div class="main-listing-info">
    <div class="title text-small">NAV</div>
    <div class="value text-large">{{ listing_data.nav }}</div>
  </div>
  <div class="dashed-line"></div>
  <div class="main-listing-info">
    <div class="title text-small">ND</div>
    <div class="value text-large">{{ listing_data.nav_dis_avl }}</div>
  </div>
  <div class="dashed-line"></div>
  <div class="main-listing-info">
    <div class="title text-small">TIR</div>
    <div class="value text-large">{{ listing_data.targ_irr }}</div>
  </div>
</div>
<div class="main-listing-fund-container">
  <div class="fund-table-title category-text">FUND INFORMATION</div>
  <table class="fund-table light-table">
    <tr>
      <td class="light-table-key">Structure</td>
      <td>{{ listing_data.fund_struc }}</td>
    </tr>
    <tr>
      <td class="light-table-key">Leverage</td>
      <td class="light-table-value">{{ listing_data.fund_levr }}</td>
    </tr>
    <tr>
      <td class="light-table-key">Inclusion Year</td>
      <td class="light-table-value">{{ listing_data.fund_inc_year }}</td>
    </tr>
    <tr>
      <td class="light-table-key">Vehicle Type</td>
      <td class="light-table-value">{{ listing_data.fund_vehi_type }}</td>
    </tr>
    <tr>
      <td class="light-table-key">Target Close Year</td>
      <td class="light-table-value">{{ listing_data.fund_targ_clos_yr }}</td>
    </tr>
    <tr>
      <td class="light-table-key">Total Expense Ratio</td>
      <td class="light-table-value">{{ listing_data.fund_ter }}</td>
    </tr>
  </table>
</div>
<div class="listing-info-bubble">
  <div class="key">Implementation Approach</div>
  <div class="value">{{ listing_data.impl_approach }}</div>
</div>
<div class="listing-info-bubble">
  <div class="key">Risk Profile</div>
  <div class="value">{{ listing_data.risk_prof }}</div>
</div>
<div class="listing-info-large-bubble">
  <div class="key">Comments</div>
  <div class="value">{{ listing_data.comments }}</div>
</div>
<button class="confirm-button"></button>
{% endblock %}
